html, body {
	width: 100%;
	height: 100%;
	margin:5px auto;
	color:#FFF;
}

*{
	list-style:none;
	text-decoration:none;
	margin:0px;
	padding:0px;
}

.header{
	width:100%;
	height:13%;
	background:#3c4145;
	background:rgba(0,0,0,0.5);
	line-height:60px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	overflow:hidden;
	border-bottom:2px #000 solid;
}

.head-icon{
	height:60px;
	background:url(../image/main_img.jpg) no-repeat;
	background-size:contain;
	background-position:10px 0;
	display:block;
	margin-top:10px;
	padding-left:70px;
}

.header div{
	height:100%;
	float:left;
	line-height:60px;
}

.hleft{
	width:15%;
	font:bold 10px ו;
}

.hcenter{
	width:40%;
}

.hcenter ul{
	width:450px;
	height:30px;
	margin:0px auto;
	margin-top:45px;
}

.hcenter .on{
	background-color: #408080;
	font-weight:bold;
}

.hcenter li{
	width:100px;
	text-align:center;
	height:30px;
	line-height:32px;
	float:left;
	border:1px #000 solid;
	display:inline;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	cursor:pointer;
	color:#FFF;
}

.center{
	width:100%;
	height:86%;
	clear:both;
}

.cleft{
	width:15%;
	height:100%;
	background:rgba(0,0,0,0.6);
	float:left;
	display:inline;
	overflow-y:auto;
}

.cleftH4{
	text-align:center;
	line-height:44px;
	cursor:pointer;
	border-bottom:1px rgba(0,0,0,0.2) solid;
	font-size:14px;
}

.cleftH4On{
	background-color:#2a2525;
	border-left:4px #7dc92d solid;
	padding-right:4px;
}

.cleft ul{
	font-size:13px;
	background:#30383b;
	background:rgba(0,0,0,0.22);
	display:none;
}

.cleft ul li{
	width:100%;
	text-align:center;
	font-size:15px;
}

.cleft ul li.on{
	width:100%;
	text-align:center;
	font-size:15px;
	background:#30383b;
	background:rgba(0,0,0,0.2);
}

.cright{
	width:85%;
	height:100%;
	background:#8000ff;
	overflow-y:auto;
	float:left;
}

.cright canvas { 
	width: 100%;
	 height: 100% 
}